.main .main--preview .main--preview--markdownArea h1 {
    width: 100%;
    color: rgb(34, 34, 34);
    font-weight: 700;
    letter-spacing: -0.003em;
    line-height: 1.1;
    margin-bottom: 0.25em;
    font-size: 2.375em;
}

.main .main--preview .main--preview--markdownArea  h2 {
    width: 100%;
    color: rgb(34, 34, 34);
    margin-top: 1.5em;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.2;
    letter-spacing: -0.002em;
    padding: 3px 2px;
    color: rgb(66, 66, 65);
}

.main .main--preview .main--preview--markdownArea  h3 {
    width: 100%;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: -0.002em;
    line-height: 1.2;
    padding: 3px 2px;
    color: rgb(66, 66, 65);
    margin-top: 1.5em;
    margin-bottom: 1px;
}

.main .main--preview .main--preview--markdownArea  hr {
    width: 100%;
    color: rgb(228, 227, 226);
}

.main .main--preview .main--preview--markdownArea  li {
    margin-bottom: 7px;
}

.main .main--preview .main--preview--markdownArea  img {
    width: 100%;
}

.main .main--preview .main--preview--markdownArea  pre {
    background: #f5f5f5;
    padding: 15px;
    box-sizing: border-box;
    margin-right: 15px;
}