<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Notion</title>

    <script src="js/min/external.min.js"></script>
    <script src="js/firebaseConfig.js"></script>
    <script src="js/firebaseHelper.js"></script>
    <script src="js/renderingHelper.js"></script>
    <script src="js/page.js"></script>
    <script src="js/tools.js"></script>

    <link rel="stylesheet" href="css/min/external.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/preview.css"> 
</head>

<body>
    <div id="app" class="app">

        <div class="sidebar">

            <div class="sidebar--title">Notion</div>

            <div class="sidebar--userArea">
                <div id="userArea-login" v-bind:class="{ hidden: isLoggedIn }">
                    <input type="text" placeholder="Courriel" v-model="userEmail" />
                    <br/>
                    <input type="password" placeholder="Mot de passe" v-model="userPassword" />
                    <br/>
                    <input type="button" value="Connexion" v-on:click="login" />
                </div>

                <div id="userArea-loggedAs" v-bind:class="{ hidden: !isLoggedIn }">
                    <div>{{ userEmail }}</div>
                    <input type="button" value="Déconnection" v-on:click="logout" />
                </div>
            </div>

            <div class="sidebar--pages" v-bind:class="{ hidden: !isLoggedIn }">
                <div v-for="page in pages" class="sidebar--pages--page" :key="page['.key']">
                    <span v-on:click="showContent(page)">{{ page._title }}</span>
                </div>
                <input type="button" v-bind:class="{ hidden: !isLoggedIn }" id="btnAddPage" v-on:click="addPage" value="Nouvelle page" />
            </div>

        </div>


        <div class="header">
            <div class="header--pageTitle">
                <input type="text" v-model="pageTitle" class="header--pageTitle--input" v-bind:class="{ hidden: !isLoggedIn }" />
            </div>

            <div class="header--actions">
                <span class="header--actions--alert">{{ alertMessage }}</span>
                <button id="btnSavePage" v-bind:class="{ hidden: !isLoggedIn }" v-on:click="savePage(currentPage)">Sauvegarder</button>
                <button id="btnPageMenu" v-bind:class="{ hidden: !isLoggedIn }" v-on:click="showPageMenu(currentPage)">...</button>
            </div>
        </div>


        <div class="main" v-bind:class="{ hidden: !isLoggedIn }">

            <div id="editorDiv" class="main--editor">
                <textarea class="main--editor--textarea" :value="editorContent" @input="updatePreview" v-on:click="setFocusOnEditor()"></textarea>
            </div>

            <div id="previewDiv" class="main--preview">
                <div class="main--preview--markdownArea" v-html="compiledMarkdown" v-on:click="setFocusOnPreview()"></div>
            </div>

            <div id="menuDiv" class="main--menu" v-bind:class="{ hidden: !isMenuShown }">

                <div id="menubarLastEdited" class="main--menu--lastEditedDiv">
                    Dernière modification
                    <br>
                    <span id="menubarLastEditedUser">{{ pageLastEditedUser || '' }}</span>
                    <br>
                    <span id="menubarLastEditedDate" v-html="pageLastEditedDateComputed"></span>
                </div>

                <button id="btnRemovePage" class="pageMenuButton" v-bind:class="{ hidden: !isLoggedIn }" v-on:click="removePage(currentPage)">Supprimer</button>
            </div>
        </div>

    </div>

</body>

<script src="js/main.js"></script>

</html>