<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Notion</title>

    <script src="js/external/firebase_4.13.0.min.js"></script>
    <script src="js/external/vue_2.5.16.js"></script>
    <script src="js/external/vuefire.js"></script>
    <script src="js/external/marked_0.3.19.js"></script>
    <script src="js/external/lodash_4.17.10.js"></script>
    <script src="js/external/highlight_9.12.0.min.js"></script>

    <script src="js/firebaseHelper.js"></script>
    <script src="js/renderingHelper.js"></script>

    <link rel="stylesheet" href="css/external/highlightjs-default.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/preview.css">
</head>

<body>
    <div id="app">
        <div class="sidebar">
            <div class="app-title">Notion</div>

            <div class="sidebar-userArea">
                <div id="userArea-login" v-bind:class="{ hidden: isLoggedIn }">
                    <input type="text" placeholder="Courriel" v-model="userEmail" /><br/>
                    <input type="password" placeholder="Mot de passe" v-model="userPassword" /><br/>
                    <input type="button" value="Connexion" v-on:click="login" />
                </div>

                <div id="userArea-loggedAs" v-bind:class="{ hidden: !isLoggedIn }">
                    <div>{{ userEmail }}</div>
                    <input type="button" value="Déconnection" v-on:click="logout" />
                </div>
            </div>

            <div class="sidebar-pages" v-bind:class="{ hidden: !isLoggedIn }">
                <div v-for="page in pages" class="sidebar-page" :key="page['.key']">
                    <span v-on:click="showContent(page)">{{ page.title }}</span>
                </div>
                <input type="button" v-bind:class="{ hidden: !isLoggedIn }" id="btnAddPage" v-on:click="addPage" value="Nouvelle page" />
            </div>
        </div>

        <div class="header">
            <div class="titlebar">
                <input type="text" v-model="pageTitle" class="page-title" v-bind:class="{ hidden: !isLoggedIn }" />
            </div>

            <div class="userArea">
                <span class="alert">{{ alertMessage }}</span>
                <button id="btnSavePage" v-bind:class="{ hidden: !isLoggedIn }" v-on:click="savePage(currentPage)">Sauvegarder</button>
                <button id="btnPageMenu" v-bind:class="{ hidden: !isLoggedIn }" v-on:click="showPageMenu(currentPage)">...</button>
            </div>
        </div>

        <div class="editorAndPreview" v-bind:class="{ hidden: !isLoggedIn }">
            <div class="editorbar">
                <textarea class="editor" :value="editorContent" @input="updatePreview" v-on:click="setFocusOnEditor()"></textarea>
            </div>

            <div class="previewbar">
                <div class="preview" v-html="compiledMarkdown" v-on:click="setFocusOnPreview()"></div>
            </div>

            <div class="menubar" v-bind:class="{ hidden: !isMenuShown }">
                
                <div id="menubarLastEdited" class="menubarLastEdited">
                    Dernière modification
                    <br> 
                    <span id="menubarLastEditedUser">{{ pageLastEditedUser }}</span>
                    <br>
                    <span id="menubarLastEditedDate" v-html="pageLastEditedDateComputed"></span>
                </div>

                <button id="btnRemovePage" class="pageMenuButton" v-bind:class="{ hidden: !isLoggedIn }" v-on:click="removePage(currentPage)">Supprimer</button>
            </div>
        </div>

    </div>

</body>

<script src="js/main.js"></script>

</html>